    @model TiendaLibros.Models.ViewModels.GetBook

@{
    ViewData["Title"] = "Details";
}


<div class="container mt-3 text-light">
    <div class="row">
        <div class="col-sm">
            <img class="card-img-top img-fluid mx-auto d-block"
                 style="height:90%; width:70%;"
                 src="data:image/jpeg;base64,@(Model.CoverImage)" />
        </div>
        <div class="col-sm">
            <h4 style="color:white" >Book</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Author)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ISBN)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ISBN)
                </dd>
                <dd class="col-sm-10">
                    @foreach (var m in Model.Categories)
                    {
                        @Html.DisplayFor(modelItem => m.Name) <br />
                    }
                </dd>

            </dl>
        </div>
    </div>
    <div class="text-end">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>

