@{

    ViewData["Title"] = "Home Page";
}

@model TiendaLibros.Models.PagedList<TiendaLibros.Models.ViewModels.GetBook>


<div class="row justify-content-center">
    
    @foreach (var product in Model.Items)
    {
        <div class="col-12 col-md-6 col-lg-4 mt-3">
            <div class="card text-white bg-primary">
                <a asp-action="Details" asp-route-id="@product.Id">
                    <img class="card-img-top img-fluid mx-auto d-block"
                         src="data:image/jpeg;base64,@product.CoverImage"
                         style="height: 450px; object-fit: cover;" />
                </a>
                <form asp-controller="Book" asp-action="Delete" asp-route-id="@product.Id" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn-sm position-absolute top-0 end-0">X</button>
                </form>
                <div class="card-body" style="height:3rem">
                    <h5 class="card-title text-center" style="font-size:1rem">@product.Title.ToLower()</h5>
                </div>
            </div>
        </div>
    }
  
</div>
<nav>
    <ul class="pagination">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link text-black" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" tabindex="-1" aria-disabled="@(Model.HasPreviousPage ? "false" : "true")">
                Anterior
            </a>
        </li>

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
            </li>
        }

        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link text-black" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" tabindex="-1" aria-disabled="@(Model.HasNextPage ? "false" : "true")">
                Siguiente
            </a>
        </li>
    </ul>
</nav>